@import '../variables';

.pizza-block {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
  transition: all .2s ease-in-out;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    padding-left: 12px;
    width: 270px;
  }

  &__title {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 23px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      button {
        color: #000;
        padding: 8px;
        border: none;
        background-color: transparent;
        border-radius: 18px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        transition: background-color 0.1s ease-in-out;

        &.active {
          background-color: #ffffff;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          cursor: auto;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    &:hover {
      transform: scale(1.03);
    }
  }
}
