@import "src/scss/variables";
@import "src/scss/libs/normalize";

.pizzaSearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 40px;

  &Input {
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: $black;
    margin: 0 -80px 0 -18px;
    padding: 0 85px 0 40px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;

    &WithReset {
      margin: 0 -105px 0 -18px;
      padding: 0 110px 0 40px;
    }

    &:focus,
    &WithReset:focus, {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }

    @media (max-width: 430px) {
      width: 300px;
    }

    @media (max-width: 350px) {
      width: 280px;
    }
  }

  &Icon {
    height: 18px;
    width: 18px;
    position: relative;
    left: 13px;
    color: $orange;
  }

  &Button {
    color: #fff;
    background-color: $orange;
    border-radius: 30px;
    padding: 8px 18px;
    text-align: center;
    cursor: pointer;
    transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
    border: 1px solid transparent;
    @include noselect();

    &Nullstyle {
      background-color: transparent;
      border: none;
    }

    &Reset {
      margin: auto;
      //color: #fff;
      //background-color: $orange;
      //border-radius: 30px;
      //padding: 8px 18px;
      //text-align: center;
      //cursor: pointer;
      //transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
      //border: 1px solid transparent;
      //@include noselect();
      height: 25px;
      width: 25px;
      position: relative;
      top: 2px;
      right: 5px;
    }

    &:hover {
      background-color: darken($orange, 8%);
    }

    &:active {
      background-color: darken($orange, 12%);
      transform: translateY(1px);
    }

    &:disabled {
      color: darken(#fff, 15%);
      background-color: darken($orange, 15%);
    }
  }
}