@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  font-style: normal;
}
