@import './fonts';
@import './variables';
@import './libs/normalize';

@import './components/all';

// react-toastify
:root {
  --toastify-color-transparent: #07bc0c;
  --toastify-toast-width: 350px;
}

.Toastify__toast-container {
  pointer-events: none;
}

.Toastify__toast {
  display: flex;
  align-items: center;
  pointer-events: all;
}

.Toastify__toast-body {
  height: 80px;
}

@media (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 10px;
  }
  .Toastify__toast-body {
    height: 60px;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.Toastify__toast-icon {
  color: var(--toastify-color-success);
}

// App
body {
  background-color: $background;
  color: #000;
}

.wrapper {
  width: calc(100vw - 100px);
  min-height: calc(100vh - 100px);
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;

  @media (max-width: 450px) {
    width: calc(100vw - 40px);
    min-height: calc(100vh - 40px);
    margin: 20px auto;
  }

  @media (max-width: 350px) {
    width: calc(100vw - 20px);
    min-height: calc(100vh - 20px);
    margin: 10px auto;
  }
}

.content {
  padding: 40px 0;

  &__title {
    margin-top: 35px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 11px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 730px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 880px) {
      flex-direction: column;

      .sort {
        margin-top: 10px;
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    display: flex;
    flex-direction: row;

    .content__title {
      margin: 0;
    }
  }

  &--not-found {
    margin: 0 auto;
    max-width: 750px;
    padding: 100px 0;
    text-align: center;

    @media (max-width: 500px) {
      padding: 80px 0;
    }

    .content__title {
      margin: 0;
      font-size: 43px;

      @media (max-width: 710px) {
        font-size: 40px;
      }

      @media (max-width: 640px) {
        font-size: 35px;
      }

      @media (max-width: 570px) {
        font-size: 30px;
      }

      @media (max-width: 500px) {
        font-size: 25px;
      }

      @media (max-width: 435px) {
        font-size: 23px;
      }

      @media (max-width: 328px) {
        font-size: 22px;
      }
    }

    p {
      font-size: 22px;

      @media (max-width: 570px) {
        font-size: 20px;
      }

      @media (max-width: 500px) {
        font-size: 17px;
      }

      @media (max-width: 435px) {
        font-size: 16px;
      }

      @media (max-width: 328px) {
        font-size: 15px;
      }
    }
  }
}

.cart {
  margin: 0 auto;
  width: 820px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content__title {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        stroke: $black;
        stroke-width: 1.9;
      }
    }
  }

  &__clear {
    display: flex;
    align-items: center;
    cursor: pointer;
    @include noselect();

    span {
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      transition: all $duration ease-in-out;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }

      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }

  &__items {
    display: block;
  }

  &__item {
    display: flex;
    width: 100%;
    border-bottom: 1px solid $gray-line;
    padding-bottom: 30px;
    margin-bottom: 30px;

    &:first-of-type {
      border-top: 1px solid $gray-line;
      padding-top: 30px;
      margin-top: 30px;
    }

    &-left {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 880px) {
        flex-direction: column;
      }

      @media (max-width: 570px) {
        width: 90%;
      }
    }

    &-right {
      width: 20%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 570px) {
        width: 10%;
      }
    }

    &-info {
      display: flex;
      width: 60%;

      &Img {
        display: flex;
        align-items: center;
        margin-right: 15px;

        img {
          padding-top: 5px;
          width: 80px;
        }

        @media (max-width: 570px) {
          margin-right: 10px;

          img {
            width: 60px;
          }
        }
      }

      &Text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;

        h3 {
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
          letter-spacing: 0.01em;
        }

        p {
          font-size: 18px;
          color: #8d8d8d;
        }

        @media (max-width: 570px) {
          width: 200px;

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      @media (max-width: 880px) {
        width: 100%;
      }
    }

    &-cost {
      display: flex;
      justify-content: space-between;
      width: 40%;

      @media (max-width: 880px) {
        padding: 15px 0 0 3%;
        width: 100%;
        justify-content: flex-start;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-minus {
        svg {
          path:first-of-type {
            display: none;
          }
        }

        &:disabled {
          background-color: #fff;
          border-color: #ddd;
          cursor: not-allowed;

          &,
          span {
            color: #ddd;
          }

          svg {
            path {
              fill: #ddd;
            }
          }
        }
      }

      b {
        margin: 0 7px;
        font-size: 22px;

        @media (max-width: 570px) {
          font-size: 20px;
        }
      }

      @media (max-width: 880px) {
        margin-right: 100px;
      }

      @media (max-width: 570px) {
        margin-right: 70px;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: center;

      b {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.01em;

        @media (max-width: 570px) {
          font-size: 20px;
        }
      }
    }

    &-remove {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .button {
        border-color: darken($color: $gray-line, $amount: 10);
      }

      svg {
        transform: rotate(45deg);

        path {
          fill: darken($color: $gray-line, $amount: 15);
        }
      }

      .button {
        svg {
          width: 11.5px;
          height: 11.5px;
          position: relative;
        }

        &:hover,
        &:active {
          border-color: darken($color: $gray-line, $amount: 80);
          background-color: darken($color: $gray-line, $amount: 80);
        }
      }
    }
  }

  &__bottom {
    margin: 50px 0;

    &-details {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 22px;

        &:last-of-type {
          b {
            color: $orange;
          }

          @media (max-width: 570px) {
            margin-top: 5px;
          }
        }
      }

      @media (max-width: 570px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      .go-back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 210px;

        border-color: darken($color: $gray-line, $amount: 10);

        span {
          color: darken($color: $gray-line, $amount: 20);
          font-weight: 600;
        }

        &:hover {
          background-color: darken($color: $gray-line, $amount: 90);
          border-color: darken($color: $gray-line, $amount: 90);

          span {
            color: $gray-line;
          }
        }

        svg {
          margin-right: 12px;

          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;

        @media (max-width: 570px) {
          margin-top: 10px;
          padding: 10px 16px;
        }
      }
    }

    @media (max-width: 570px) {
      margin: 30px 0;

      &-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }
    }
  }

  &--empty {
    margin: 0 auto;
    width: 560px;
    text-align: center;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    img {
      display: block;
      width: 300px;
      margin: 45px auto 60px;

      @media (max-width: 350px) {
        width: 100%;
      }
    }

    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
